<web-app>
    <servlet>
        <servlet-name>AddStudentServlet</servlet-name>
        <servlet-class>servlet.AddStudentServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddStudentServlet</servlet-name>
        <url-pattern>/AddStudentServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>UpdateStudentServlet</servlet-name>
        <servlet-class>servlet.UpdateStudentServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateStudentServlet</servlet-name>
        <url-pattern>/UpdateStudentServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>DeleteStudentServlet</servlet-name>
        <servlet-class>servlet.DeleteStudentServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DeleteStudentServlet</servlet-name>
        <url-pattern>/DeleteStudentServlet</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>SortStudentServlet</servlet-name>
        <servlet-class>servlet.SortStudentServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SortStudentServlet</servlet-name>
        <url-pattern>/SortStudentServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>SearchStudentServlet</servlet-name>
        <servlet-class>servlet.SearchStudentServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SearchStudentServlet</servlet-name>
        <url-pattern>/SearchStudentServlet</url-pattern>
    </servlet-mapping>
</web-app>